body {
   background-color: #BDD5EA ;
}

#formContainer {
    display: none;
}

.topheader {
    background-color: #577399;
    
    
}


.titlestyle {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40pt;
}

h5 {
    text-align: center;
    padding-top: 30px;
}



/* 
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
 */

 #StartOrder {
     display: flex;
     
 }
 .btncontainer {
     text-align: center;
 }

 #formContainer {
     font-size: 16pt;
 }